@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #a82c2c;
    color: #ffffff;
}

.header {
    position: fixed;

    display: flex;
    flex-direction: row-reverse;

    font-weight: 300;
    width: 100%;
    height: 3em;
    padding-right: 1%;
    background-color: #a82c2c;

    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
}

.btn {
    width: 4em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
    color: #ffffff;
    background-color: #a82c2c;
}

.btn:hover {
    background-color: #727272;
}

#main {
    width: 100%;
    height: 100vh;

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-head {
    font-weight: 500;
    font-size: 9vw;
    text-align: center;
}

.main-caption {
    font-weight: 200;
    font-size: 1.5em;
    font-style: italic;
    color: #b10000;
    text-align: center;
    font-size: 6vw;
}

#things {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    padding-top: 6%;
    padding-bottom: 6%;

    background-color: #320053;
}

.things-title {
    padding: 10px;
    border-bottom-width: 0.2vh;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;

    font-weight: 500;
    font-size: 5vw;
    text-align: center;
}

.things-windows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;

    width: 100%;
}

.things-window {
    width: 310px;
    margin: 20px;
    background-color: #ffffff;

    text-align: center;
}

.things-window p {
    background-color: #4b4b4b;
    height: 3em;
    line-height: 3em;
    font-weight: 300;
}

#contacts {
    background-color: #727272;
    padding-top: 40vh;
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 80%;
    padding-top: 5%;
    padding-bottom: 15%;
    font-size: 3vh;
}

.contact {
    width: 200px;
    text-align: center;
}

.contacts-head {
    font-weight: 500;
    font-size: 7vw;
    text-align: center;
}

.contacts-caption {
    font-weight: 200;
    font-style: italic;
    font-size: 3vw;
    text-align: center;
}

.end-info {
    display: flex;
    flex-direction: row;
    background-color: #727272;

    width: 100%;
    height: 5%;
    padding: 2%;
    border-top: 0.4vh solid #b10000;
    align-self: flex-end;
}

.end-info-statement {
    width: 50%;
    align-self: left;
    line-height: 2em;
    font-weight: 200;
    font-size: 2vw;
}

.made-by {
    width: 50%;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    align-self: right;
    font-size: 2vw;
}

.made-by__logo {
    height: 2em;
}

.made-by__p {
    color: #ffffff;
    padding-left: 2px;
    line-height: 2em;
    font-weight: 200;
    font-size: 1em;
}